.blog__section {
   padding: var(--margin-inline);
}
.blog__section-content {
   border-top: var(--border-top);
   padding-top: 40px;
   display: flex;
   justify-content: space-between;
   gap: 34px;
}
.blog__section-content-title {
   max-width: 578px;
}

.blog-tags {
   margin: 0 0 5px 0; /* 3 px снизу */
   font-weight: 400; /* обычный вес */
}
.blog-time {
   margin: 0;
   font-weight: 700; /* жирный текст */
}

@media (max-width: 1540px) {
   .blog__section-content {
      flex-direction: column;
   }
}
@media (max-width: 1200px) {
   .blog__section-content {
      flex-direction: column;
   }
}
@media (max-width: 375px) {
   .blog__section {
      margin-top: 40px;
   }
   .blog__section-content {
      padding-top: 16px;
      row-gap: 16px;
   }
}
