.print__section {
   margin-inline: var(--margin-inline);
   margin-top: 200px;
}
.print__section-title {
   max-width: 612px;
   width: 100%;
}
.print__section-subtitle {
   max-width: 580px;
}
.print__section-wrapper {
   display: flex;
   align-items: center;
   border-top: var(--border-top);

   padding-top: 40px;
   justify-content: space-between;
   align-items: start;
   column-gap: 20px;
}

.print__section-item {
   font-size: clamp(16px, -8px + 4.2667vw, 24px);
   margin-bottom: 10px;
   border-bottom: 1px solid black;
   display: flex;
   column-gap: 20px;
   align-items: center;
   max-width: 980px;
   width: 100%;
}

.print__section-item-description {
   font-size: var(--font-adaptive-subtitle24);
   max-width: 986px;
}
@media (max-width: 1045px) {
   .print__section {
      margin-top: 100px;
   }
   .print__section-wrapper {
      flex-direction: column;
   }
}
@media (max-width: 768px) {
   .print__section-wrapper {
      padding-top: 16px;
   }
}
@media (max-width: 375px) {
   .print__section {
      margin-top: 40px;
   }
}
