# === Python / Django ===
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# === Миграции ===
apps/blog/migrations/
apps/pages/migrations/
apps/requests/migrations/
apps/equipment/migrations/


config/__pycache__/
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# === Django ===
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# === IDE ===
.vscode/
.idea/
*.swp
*.swo
*~

# === OS ===
.DS_Store
Thumbs.db

# === Virtual env & secrets ===
.env

