.header__menu-list {
   align-items: center;
   align-self: center;
   display: flex;
   gap: 10px;
   justify-content: center;
}
.header__menu-item {
   max-width: 506px;
   padding: 20px;
   background-color: white;
   color: black;
   border: 3px solid black;
   display: flex;
   flex-direction: column;
}
.header__menu-item img {
   align-self: center;
   max-width: 353px;
   max-height: auto;
   object-fit: cover;
   object-position: center;
   display: block;
   margin-bottom: 34px;
}
.header__menu-title {
   font-family: Impact;
   font-weight: 400;
   font-size: 72px;
   color: #3c3aa5;
}
.header__menu-tagline {
   font-family: Impact;
   font-weight: 400;
   font-size: 36px;
   color: black;
   margin-bottom: 16px;
   height: 132px;
   letter-spacing: 0;
   line-height: 100%;
}
.header__menu-description {
   color: black;
   font-size: 24px;
   line-height: 100%;
   font-weight: 400;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
   overflow: hidden;
   margin-bottom: 32px;
}
.header__menu-buttons {
   display: flex;
   flex-direction: column;
   row-gap: 15px;
}
@media (max-width: 1520px) {
   .header__menu-list {
      flex-direction: column;
   }
}
@media (max-width: 540px) {
   .header__menu-item img {
      max-width: 120px;
      margin-bottom: 0;
   }
   .header__menu-title {
      font-size: 36px;
   }
   .header__menu-item {
      max-width: 240px;
   }
   .header__menu-tagline {
      font-size: 24px;
      height: max-content;
      overflow-wrap: break-word; /* или word-wrap: break-word */
   }
   .header__menu-description {
      font-size: 12px;
   }
}
