.products__section {
   padding-inline: var(--margin-inline);
}
.products__secton-subtitle {
   padding-top: 40px;
   margin-bottom: 40px;
   border-top: var(--border-top);
}
#equipment {
   scroll-margin-top: 104px;
}
@media (max-width: 375px) {
   .products__section {
      margin-top: 40px;
   }
}
