.header__title {
   font-family: Impact;
   font-weight: 400;
   font-size: 48px;
}
.header__menu {
   position: fixed;
   top: -1500px;
   left: 0px;
   display: flex;
   height: max-content;
   flex-direction: column;
   width: 100vw;
   padding-inline: 161px;
   padding-bottom: 20px;
   background-color: #3c3aa5;
   opacity: 0;
   transition: all 0.35s linear;
   z-index: 1000;
}
.header__menu.active {
   top: 0;
   opacity: 1;
   transform: translateY(103px);
}
@media (max-width: 1600px) {
   .header__menu {
      display: none;
   }
}
