.connection__button {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
   font-size: var(--font-adaptive-subtitle48);
   height: 91px;
   flex-grow: 1;
   border: var(--border);
}

@media (max-width: 1180px) {
   .connection__button {
      min-width: 100px;
      width: 100%;
   }
}

@media (max-width: 475px) {
   .connection__button {
      min-width: 100px;
      width: 100%;
      font-size: 24px;
      height: 61px;
   }
}
