@font-face {
   font-family: "Helvetica Neue";
   src: url("./assets/fonts/Helvetica-Regular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Impact";
   src: url("./assets/fonts/Impact.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: "Helvetica Neue", Arial, sans-serif;
}
